*{
background-color: bisque;
padding: 10px;
color: mediumvioletred;

}
.formulario{
color: mediumvioletred;
background-color: rgb(161, 224, 161);

}
.botao{
color: mediumvioletred;

}

